@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 96.1%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 96.1%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 96.1%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 210 100% 56%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
    --card: 0 0% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 0 0% 10%;
    --secondary-foreground: 210 40% 98%;
    --muted: 0 0% 10%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 0 0% 10%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  -webkit-tap-highlight-color: transparent;
}

@layer utilities {
  .animate-shine {
    animation: shine 2.5s ease-in-out infinite;
  }

  .animate-multicolor-shine {
    animation: multicolor-shine 4s linear infinite;
  }

  @keyframes shine {
    0%, 100% {
      drop-shadow: 0 0 0.5rem hsl(var(--primary));
    }
    50% {
      drop-shadow: 0 0 1.25rem hsl(var(--primary));
    }
  }

   @keyframes multicolor-shine {
    0% { drop-shadow: 0 0 0.75rem #00c6ff; }
    10% { drop-shadow: 0 0 0.85rem #ff00de; }
    20% { drop-shadow: 0 0 0.95rem #ffb500; }
    30% { drop-shadow: 0 0 1.05rem #00ffc8; }
    40% { drop-shadow: 0 0 1.15rem #deff00; }
    50% { drop-shadow: 0 0 1.25rem #005eff; }
    60% { drop-shadow: 0 0 1.15rem #ff005a; }
    70% { drop-shadow: 0 0 1.05rem #c800ff; }
    80% { drop-shadow: 0 0 0.95rem #00ff83; }
    90% { drop-shadow: 0 0 0.85rem #ff8b00; }
    100% { drop-shadow: 0 0 0.75rem #00c6ff; }
  }
}
